/* HeroDetailComponent's cyberpunk styles */

label {
  color: #00FF00;
  /* Neon green text color */
  font-weight: bold;
  font-family: 'Courier New', monospace;
  /* A monospace font for a console-like feel */
}

input {
  font-size: 1em;
  padding: .5rem;
  background-color: #000;
  /* Black background for the console effect */
  color: #00FF00;
  /* Neon green text color */
  border: 1px solid #00FF00;
  /* Neon green border */
  font-family: 'Courier New', monospace;
  /* A monospace font for a console-like feel */
}

button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #000;
  /* Black background for the console effect */
  color: #00FF00;
  /* Neon green text color */
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  border: 1px solid #00FF00;
  /* Neon green border */
  font-family: 'Courier New', monospace;
  /* A monospace font for a console-like feel */
}

button:hover {
  background-color: #FF4500;
  /* Orange on hover for a cyberpunk glow */
}

button:disabled {
  background-color: #000;
  /* Black background for the console effect */
  color: #ccc;
  cursor: auto;
  border: 1px solid #ccc;
  font-family: 'Courier New', monospace;
  /* A monospace font for a console-like feel */
}
