/* MessagesComponent's cyberpunk styles */

h2 {
  color: #00FF00;
  /* Neon green text color */
  font-family: 'Courier New', monospace;
  /* A monospace font for a console-like feel */
  font-weight: lighter;
}

.clear {
  color: #00FF00;
  /* Neon green text color */
  background-color: #000;
  /* Black background for the console effect */
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Courier New', monospace;
  /* A monospace font for a console-like feel */
  border: 1px solid #00FF00;
  /* Neon green border */
}

.clear:hover {
  color: #FF4500;
  /* Orange on hover for a cyberpunk glow */
  background-color: #000;
  /* Black background on hover for contrast */
}
